#puppyTitle{
    font-family: 'Raleway', sans-serif;
    background: lightpink;
    padding-top: .5px;
    padding-bottom: .5px;
    padding-left: 20px;
}

#mainBody{
    font-family: 'Raleway', sans-serif;
}

.instuctionsBody{
    background: lightblue;
    padding-top: .5px;
    padding-bottom: .5px;
    padding-left: 20px;
}

.numberMatch{
    background: lightyellow;
    padding-top: .5px;
    padding-bottom: .5px;
    padding-left: 20px;
}

.images{
    background: lightcyan;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.spotPup{
    padding-left: 100px;
}

.pomPup{
    padding-left: 100px;
}

.windyPup{
    padding-left: 100px;
}

.robberPup{
    padding-left: 100px;
}

.totalWin{
    background: lightgreen;
    padding-top: .5px;
    padding-bottom: .5px;
    padding-left: 20px;
}